<script>
    import "../app.css";
    import Nav from "../components/Nav.svelte";
</script>

<svelte:head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</svelte:head>

<Nav />

<slot />