<script>
    import { page } from '$app/stores';
    import { goto } from '$app/navigation';
    const navItems = [
        { name: 'About', href: '/about' },
        { name: 'Demographics', href: '/demographics' },
        { name: 'Hospitals', href: '/hospitals' },
        { name: 'Organizations', href: '/organizations' },
        { name: 'Visualizations', href: '/visualizations'},
        { name: 'Provider Visualizations', href: '/providerVisualizations'}
    ];
</script>

<div class="navbar bg-blue-50 px-5 py-2">
    <div class="flex-1">
        <a class="text-xl flex flex-row" href="/">
            <img src="/logo.png" alt="CareHub" class="h-10 w-10" />
            <h1 class="self-center ml-3 text-[#8eb5bf] font-bold">CareHub</h1>
        </a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            {#each navItems as { name, href }}
                {#if $page.url.pathname === href}
                    <li class="active"><a href={href}>{name}</a></li>
                {:else}
                    <li><a href={href}>{name}</a></li>
                {/if}
            {/each}
        </ul>
    </div>
</div>


<!-- <nav>
    <ul>
        {#each navItems as { name, href }}
            <li><a href={href}>{
                name
            }</a></li>
        {/each}
    </ul>
</nav> -->
