<script>
    import { onMount } from 'svelte';
    import * as d3 from 'd3';

    let total = 'num_hospitals';
    let title;
    $: title = total === 'num_hospitals' ? 'Number of Hospitals' : 'Number of Health Centers';
    let data = [];
    let svg, x, y, xAxis, yAxis;

    let margin = {top: 30, right: 30, bottom: 80, left: 60},
            width = 1000 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

    onMount(() => {
        // load the  data
        // Add X axis
        svg = d3.select("#map-container")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");
                        
        x = d3.scaleBand()
            .range([ 0, width ])
            .padding(0.2);
        xAxis = svg.append("g")
            .attr("transform", "translate(0," + height + ")")

        // Add Y axis
        y = d3.scaleLinear()
            .range([ height, 0]);
        yAxis = svg.append("g");

        fetch('https://api.care-hub.me/visualizations/totals')
            .then(response => response.json())
            .then(d => {
                data = d;
                console.log(data);
                update("num_hospitals");
            });
    });

    function update(label) {
        if (data.length === 0) return;
        total = label ? label : total;

        // data.sort(function(b, a) {
        //     return a[label] - b[label];
        // });
        // Update the X axis
        x.domain(data.map(function(d) { return d.name; }))
        xAxis.call(d3.axisBottom(x))
            .call(d3.axisBottom(x))
            .selectAll("text")
            .attr("transform", "translate(-10,0)rotate(-45)")
            .style("text-anchor", "end");

        // Update the Y axis
        y.domain([0, d3.max(data, function(d) { return d[total]; })]);
        yAxis.transition().duration(1000).call(d3.axisLeft(y));

        // Create the u variable
        var u = svg.selectAll("rect")
            .data(data)

        // svg.selectAll("rect")
        // .transition()
        // .duration(400)
        // .attr("y", function(d) { return y(d[total]); })
        // .attr("height", function(d) { return height - y(d[total]); })
        // .delay(function(d,i){return(i*50)})

        u.enter()
            .append("rect") // Add a new rect for each new elements
            .merge(u) // get the already existing elements as well
            .transition() // and apply changes to all of them
            .duration(1000)
                .attr("x", function(d) { return x(d.name); })
                .attr("y", function(d) { return y(d[total]); })
                .attr("width", x.bandwidth())
                .attr("height", function(d) { return height - y(d[total]); })
                .attr("fill", "#69b3a2")

        // If less group in the new dataset, I delete the ones not in use anymore
        u.exit()
            .remove()
    };

    $: update(total);
</script>

<!-- add two tabs to switch between totals -->
<div class="flex justify-center mt-8">
    <button class="px-4 py-2 text-gray-600 font-semibold rounded-tl-lg {total === 'num_hospitals' ? 'bg-gray-400' : 'bg-gray-200'}" on:click={() => total = "num_hospitals"}>Number of Hospitals</button>
    <button class="px-4 py-2 bg-gray-200 text-gray-600 font-semibold rounded-tr-lg {total === 'num_organizations' ? 'bg-gray-400' : 'bg-gray-200'}" on:click={() => total = "num_organizations"}>Number of Health Centers</button>
</div>

<div id="map-container" class="hidden md:block py-[20px] bg-slate-50 mb-20">
    <!-- <h3 class="font-semibold text-lg block mx-auto text-center">{title}</h3> -->
</div>

<!--  hidden md:block mx-auto -->

<style>
    :global(#map-container svg) {
        margin: auto;
    }
</style>